* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

h1 {
  margin: 2rem 0;
}

#pokemones {
  max-width: 300px;
  background-color: rgb(157, 213, 233);
  padding: 1rem;
  border-radius: 1rem;
}

#pokemones h2 {
  margin-bottom: .7rem;
}

#pokemones ul {
  margin-bottom: 1rem;
}

#pokemones ~ li {
  margin-bottom: .5rem;
}

.oculto {
  display: none;
}

.resalte {
  text-transform: uppercase;
  color: red;
}