* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-color: darkslateblue;
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: none;
  transition: background-color 250ms ease;
}

ul {
  list-style: none;
}

.instructions {
  background-color: rgba(245, 245, 245, 0.8);
  color: darkblue;
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.instructions h1 {
  font-size: 2rem;
}

.instructions p {
  opacity: 0.9;
}

.instructions ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.emoji-cursor {
  position: absolute;
  font-size: 32px;
}
