* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: darkslateblue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;

  cursor: none;
}

ul {
  list-style: none;
}

.instrucciones {
  background-color: #fffffff3;
  color: darkblue;
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 24px 12px #00000032;
  text-align: center;
}

.instrucciones p {
  margin: 12px 0;
}

.instrucciones ul {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.cursor {
  position: absolute;

  font-size: 32px;
}